# Default owners for everything in the repo
* @titouanmathis

# CLI package
/packages/trafic-cli/ @titouanmathis

# Agent package
/packages/trafic-agent/ @titouanmathis

# CI and workflows
/.github/ @titouanmathis
