<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Trafic by Studio Meta{% endblock %}</title>
        <style>
            :root {
                --gray-100: oklch(0.967 0.003 264.542);
                --gray-900: oklch(0.21 0.034 264.665);
                --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
            }

            html {
                font-family: var(--font-sans);
                background-color: var(--gray-100);
                color: var(--gray-900);
            }

            body {
                padding: 1rem;
            }

            main {
                max-width: 34ch;
            }
        </style>
        <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
