tls:
  stores:
    default:
      defaultCertificate:
        certFile: /mnt/ddev-global-cache/traefik/certs/default_cert.crt
        keyFile: /mnt/ddev-global-cache/traefik/certs/default_key.key

http:
  routers:
    ddev-errors-middleware-http:
      rule: HostRegexp(`{host:.+}`)
      service: "ddev-ddev-errors-middleware-web"
      tls: false
      priority: 1
      entrypoints:
        - http-80
    ddev-errors-middleware-https:
      rule: HostRegexp(`{host:.+}`)
      service: "ddev-ddev-errors-middleware-web"
      tls: true
      priority: 1
      entrypoints:
        - http-443
  middlewares:
    ddev-forward-auth-middleware:
      forwardAuth:
        address: http://ddev-ddev-forward-auth-middleware
    ddev-errors-middleware:
      errors:
        status:
          - "400-599"
        service: ddev-ddev-errors-middleware-web
        query: "/?status={status}"
