tls:
  stores:
    default:
      defaultCertificate:
        certFile: /mnt/ddev-global-cache/traefik/certs/default_cert.crt
        keyFile: /mnt/ddev-global-cache/traefik/certs/default_key.key

http:
  routers:
    ddev-errors-middleware-http:
      rule: HostRegexp(`{host:.+}`)
      service: trafic-middleware
      tls: false
      priority: 1
      entrypoints:
        - http-80
    ddev-errors-middleware-https:
      rule: HostRegexp(`{host:.+}`)
      service: trafic-middleware
      tls: true
      priority: 1
      entrypoints:
        - http-443
  middlewares:
    trafic-forward-auth-middleware:
      forwardAuth:
        address: http://trafic-middleware/__auth__
    trafic-errors-middleware:
      errors:
        status:
          - "400-599"
        service: trafic-middleware
        query: "/?status={status}"

  services:
    trafic-middleware:
      loadbalancer:
        servers:
          - url: http://trafic-middleware:80
