tls:
  stores:
    default:
      defaultCertificate:
        certFile: /mnt/ddev-global-cache/traefik/certs/default_cert.crt
        keyFile: /mnt/ddev-global-cache/traefik/certs/default_key.key

http:
  routers:
    ddev-errors-middleware-http:
      rule: HostRegexp(`{host:.+}`)
      service: traffic-middleware
      tls: false
      priority: 1
      entrypoints:
        - http-80
    ddev-errors-middleware-https:
      rule: HostRegexp(`{host:.+}`)
      service: traffic-middleware
      tls: true
      priority: 1
      entrypoints:
        - http-443
  middlewares:
    traffic-forward-auth-middleware:
      forwardAuth:
        address: http://traffic-middleware/__auth__
    traffic-errors-middleware:
      errors:
        status:
          - "400-599"
        service: traffic-middleware
        query: "/?status={status}"

  services:
    traffic-middleware:
      loadbalancer:
        servers:
          - url: http://traffic-middleware:80
