tls:
  stores:
    default:
      defaultCertificate:
        certFile: /mnt/ddev-global-cache/traefik/certs/default_cert.crt
        keyFile: /mnt/ddev-global-cache/traefik/certs/default_key.key

http:
  routers:
    ddev-errors-middleware-http:
      rule: HostRegexp(`{host:.+}`)
      service: ddev-server-traefik-middleware
      tls: false
      priority: 1
      entrypoints:
        - http-80
    ddev-errors-middleware-https:
      rule: HostRegexp(`{host:.+}`)
      service: ddev-server-traefik-middleware
      tls: true
      priority: 1
      entrypoints:
        - http-443
  middlewares:
    ddev-forward-auth-middleware:
      forwardAuth:
        address: http://ddev-server-traefik-middleware/__auth__
    ddev-errors-middleware:
      errors:
        status:
          - "400-599"
        service: ddev-server-traefik-middleware
        query: "/__error__?status={status}"

  services:
    ddev-server-traefik-middleware:
      loadbalancer:
        servers:
          - url: http://ddev-server-traefik-middleware:80
