name: Publish

on:
  push:
    tags:
      - "*.*.*"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run typecheck
      - run: npm run test:ci

  publish:
    name: Publish to npm
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - name: Determine npm tag
        run: |
          VERSION=${GITHUB_REF_NAME}
          NPM_TAG='latest'
          IS_PRERELEASE=false
          if [[ $VERSION =~ (alpha|beta|rc) ]]; then
            NPM_TAG='next'
            IS_PRERELEASE=true
          fi
          echo "NPM_TAG=$NPM_TAG" >> $GITHUB_ENV
          echo "IS_PRERELEASE=$IS_PRERELEASE" >> $GITHUB_ENV
      - name: Publish @studiometa/trafic-cli
        run: npm publish --provenance --access public --tag ${{ env.NPM_TAG }}
        working-directory: packages/trafic-cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish @studiometa/trafic-agent
        run: npm publish --provenance --access public --tag ${{ env.NPM_TAG }}
        working-directory: packages/trafic-agent
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: |
            See [CHANGELOG.md](https://github.com/${{ github.repository }}/blob/${{ github.ref_name }}/CHANGELOG.md) for details.
          draft: false
          prerelease: ${{ env.IS_PRERELEASE }}
